@mixin dialog-content() {
  z-index: 99;
  background: white;
  margin-left: 20%;
  margin-right: 20%;
  padding: 15px;
}
@mixin full-fixed {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  border:0px;
}
