

/** Header Styles **/
$header-height: 50px;
$header-bgcolor: red;
/** Header Styles **/


/** Footer Styles **/
$footer-height: 50px;
$footer-bgcolor:#fff;
/** Footer Styles **/


/** Product Styles **/
$product-height: 50px;
/** Product Styles **/